* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f4c600;
}
.container {
    height: 31.25em;
    width: 31.25em;
    border: 2px solid blueviolet;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.monster {
    height: 18.75em;
    width: 15.62em;
    background-color: #b66750;
    border-radius: 3.75em 3.75em 1.87em 1.87em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.monster:before, .monster:after {
    content: "";
    position: absolute;
    height: 3.75em;
    width: 1.25em;
    background-color: #b66750;
    border-radius: 0.62em;
}
.monster:before {
    top: -2.5em;
    left: 6.56em;
    transform: rotate(-15deg);
}
.monster:after {
    top: -1.56em;
    right: 6.56em;
    transform: rotate(15deg);
}