* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f4c600;
}
.container {
    height: 31.25em;
    width: 31.25em;
    border: 2px solid blueviolet;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.monster {
    height: 18.75em;
    width: 15.62em;
    background-color: #b66750;
    border-radius: 3.75em 3.75em 1.87em 1.87em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.monster:before, .monster:after {
    content: "";
    position: absolute;
    height: 3.75em;
    width: 1.25em;
    background-color: #b66750;
    border-radius: 0.62em;
}
.monster:before {
    top: -2.5em;
    left: 6.56em;
    transform: rotate(-15deg);
}
.monster:after {
    top: -1.56em;
    right: 6.56em;
    transform: rotate(15deg);
}
.eye, .eye:before {
    position: absolute;
    height: 0.62em;
    width: 0.62em;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0.18em 0.18em 0 0.5em #000000;
}
.eye {
    top: 4.37em;
    left: 3.75em;
}
.eye:before {
    content: "";
    left: 6.87em;
}
.eye:after {
    content: "";
    position: absolute;
    height: 1.56em;
    width: 1.56em;
    background-color: #d0865d;
    border-radius: 50%;
    top: 1.25em;
    left: -1.87em;
    box-shadow: 10em 0 #d0865d;
}
.details {
    background-color: #a85d46;
    height: 0.62em;
    width: 3.75em;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 5.62em;
    border-radius: 0.62em;
}
.details:before {
    content: "";
    position: absolute;
    background-color: #a85d46;
    height: 1.56em;
    width: 0.43em;
    top: 8.75em;
    left: -1.56em;
    border-radius: 0.31em;
    box-shadow: 1.56em 1.56em #a85d46,
        1.56em -1.56em #a85d46,
        3.12em 0 #a85d46,
        4.68em 1.56em #a85d46,
        4.68em -1.56em #a85d46,
        6.25em 0 #a85d46
    ;
}
.mouth {
    position: absolute;
    background-color: #a8193f;
    height: 5em;
    width: 7.5em;
    top: 3.12em;
    left: 3.9em;
    top: 6.87em;
    border-radius: 0.93em;
    overflow: hidden;
}