* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: cornsilk;
}
.container {
    position: absolute;
    height: 450px;
    width: 450px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.stem {
    height: 200px;
    width: 10px;
    position: absolute;
    background-color: darkgreen;
    top: 200px;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 5;
}
.stem:before {
    content: "";
    height: 125px;
    width: 4px;
    position: absolute;
    background-color: darkseagreen;
    filter: blur(4px);
    top: 40px;
}
.leaf-1 {
    height: 50px;
    width: 75px;
    position: absolute;
    top: 255px;
    left: 143px;
    border-radius: 0 100%;
    background-image: linear-gradient(to right, rgb(180, 220, 155), darkolivegreen);
}
.leaf-2 {
    height: 50px;
    width: 75px;
    position: absolute;
    top: 288px;
    left: 224px;
    border-radius: 100% 0;
    background-image: linear-gradient(to left, rgb(150, 200, 120), darkolivegreen);
    z-index: 6;
}
.flower-petals {
    height: 150px;
    width: 150px;
    background-image: linear-gradient(to bottom left, coral, darkred);
    position: absolute;
    border-radius: 44% 7% 7% 44% / 44% 33% 33% 44%;
    transform: rotate(-90deg);
    top: 4rem;
    left: 9rem;
    z-index: 6;
}