* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(244, 241, 252);
}
.container {
    height: 31.25em;
    width: 31.25em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 50%;
    background-color: rgb(237, 233, 252);
}
.ghost {
    height: 15.5em;
    width: 15.5em;
    position: absolute;
    transform: translate(50%, 50%);
    background-color: rgb(255, 221, 224);
    border: 2px solid black;
    border-radius: 50%;
}