* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(244, 241, 252);
}
.container {
    height: 50vmin;
    width: 50vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 50%;
    background-color: rgb(237, 233, 252);
}
.ghost {
    width: 21.6vmin;
    height: 21.6vmin;
    position: absolute;
    transform: translate(50%, 50%);
    background-color: rgb(255, 221, 224);
    border: 0.5vmin solid black;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom: 0;
    left: 4vmin;
}
.legs {
    display: flex;
    width: 21.6vmin;
    position: absolute;
    top: 32.3vmin;
    left: 14.8vmin;
}
.legs div {
    width: 7.5vmin;
    height: 6vmin;
    border: 0.5vmin solid black;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top: 0;
    background: #FFDCDF;
}
.eyes {
    position: absolute;
    width: 3.2vmin;
    height: 3.2vmin;
    background: #000;
    border-radius: 50%;
    top: 9.2vmin;
    left: 4.5vmin;
    box-shadow: 8.8vmin 0;
}
.eyes:before{
    content: "";
    position: absolute;
    background: white;
    width: 1.6vmin;
    height: 1.6vmin;
    border-radius: 50%;
    left: 1.2vmin;
    top: 0.3vmin;
    box-shadow: 8vmin 0 white;
}
.mouth {
    position: absolute;
    width: 3.2vmin;
    height: 1.6vmin;
    border: 0.7vmin solid black;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top: 0;
    top: 13.6vmin;
    left: 8.9vmin;
}
.left-arm, .right-arm {
    position: absolute;
    width: 3.2vmin;
    height: 3.2vmin;
    border: 0.5vmin solid black;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top: 0;
}
.left-arm {
    top: 16vmin;
    left: 4.8vmin;
    transform: rotate(-45deg);
}
.right-arm {
    top: 16vmin;
    left: 12.8vmin;
    transform: rotate(45deg);
}
