* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(244, 241, 252);
}
.container {
    height: 31.25em;
    width: 31.25em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 50%;
    background-color: rgb(237, 233, 252);
}
.ghost {
    width: 13.5em;
    height: 13.5em;
    position: absolute;
    transform: translate(50%, 50%);
    background-color: rgb(255, 221, 224);
    border: 0.5vmin solid black;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom: 0;
    left: 2.5em;
}
.legs {
    height: 6vmin;
    width: 7.5vmin;
    position: absolute;
    border: 0.5vmin solid black;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #ffdcdf;
    border-top: 0;
    top: 13.2em;
    left: -0.28em;
    box-shadow: 4.45em 0 #ffdcdf, 8.85em 0 #ffdcdf;
}
.legs:before {
    content: "";
    height: 6vmin;
    width: 6.75vmin;
    position: absolute;
    border: 0.5vmin solid black;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top: 0;
    left: 4em;
}
.legs:after {
    content: "";
    height: 6vmin;
    width: 7.15vmin;
    position: absolute;
    border: 0.5vmin solid black;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top: 0;
    left: 8.5em;
}
.eyes {
    position: absolute;
    width: 2em;
    height: 2em;
    background: #000;
    border-radius: 50%;
    top: 5.75em;
    left: 2.8em;
    box-shadow: 5.5em 0;
}
.eyes:before{
    content: "";
    position: absolute;
    background: white;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    left: .75em;
    top: 0.2em;
    box-shadow: 5em 0 white;
}
.mouth {
    position: absolute;
    width: 2em;
    height: 1em;
    border: 0.7vmin solid black;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top: 0;
    top: 8.5em;
    left: 5.55em;
}
.left-arm, .right-arm {
    position: absolute;
    width: 2em;
    height: 2em;
    border: 0.3em solid black;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top: 0;
}
.left-arm {
    top: 10em;
    left: 3em;
    transform: rotate(-45deg);
}

.right-arm {
    top: 10em;
    left: 8em;
    transform: rotate(45deg);
}