body {
    margin: 0;
    padding: 0;
    background-color: #fcf8bb;
}
.container {
    width: 350px;
    height: 350px;
    border: 1px solid black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}