body {
    background-color: #ffd65a;
    padding: 0;
    margin: 0;
}
.container {
    height: 25em;
    width: 31.25em;
    border: 1px solid black;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.face {
    position: absolute;
    background-color: #c42754;
    height: 6.87em;
    width: 5.31em;
    margin: auto;
    left: 0;
    right: 0;
    top: 3.12em;
    border-radius: 5.31em 5.31em 0 0;
}
.face:before {
    position: absolute;
    content: "";
    background-color: #8c1436;
    height: 3.12em;
    width: 100%;
    top: 5.62em;
    border-radius: 5em;
    z-index: -1;
}
.face:after {
    position: absolute;
    content: "";
    background-color: #ee3466;
    width: 6.56em;
    height: 4.68em;
    top: 3.43em;
    left: -0.62em;
    border-radius: 4em;
}
.eye {
    position: absolute;
    background-color: #262626;
    height: 0.62em;
    width: 0.62em;
    border-radius: 50%;
    top: 1.87em;
    left: 1.12em;
    box-shadow: 2.5em 0 #262626;
}
.nostril, .nostril:after {
    position: absolute;
    background-color: #8c1436;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    border: 0.62em solid #ee3466;
}
.nostril {
    top: 2.81em;
    left: -0.93em;
}
.nostril:after {
    content: "";
    top: -0.62em;
    left: 4.25em;
}
.ear, .ear:before {
    position: absolute;
    background-color: #8c1436;
    height: 3.12em;
    width: 0.68em;
    border-radius: 1.37em;
    border: 0.56em solid #c42754;
}
.ear {
    z-index: -1;
    top: -1.87em;
    left: -0.93em;
    transform: rotate(-40deg);
}
.ear:before {
    content: "";
    left: 3.75em;
    top: 3em;
    transform: rotate(80deg);
}