body {
    background-color: #ffd65a;
    padding: 0;
    margin: 0;
}
.container {
    height: 25em;
    width: 31.25em;
    border: 1px solid black;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.face {
    position: absolute;
    background-color: #c42754;
    height: 6.87em;
    width: 5.31em;
    margin: auto;
    left: 0;
    right: 0;
    top: 3.12em;
    border-radius: 5.31em 5.31em 0 0;
}
.face:before {
    position: absolute;
    content: "";
    background-color: #8c1436;
    height: 3.12em;
    width: 100%;
    top: 5.62em;
    border-radius: 5em;
    z-index: -1;
}