body {
    background-color: #060034;
}
.container {
    height: 46.87em;
    width: 37.5em;
    border: 1px solid whitesmoke;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}