body {
    background-color: #060034;
}
.container {
    height: 46.87em;
    width: 37.5em;
    border: 1px solid whitesmoke;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.santa {
    background-color: #edbb93;
    height: 6.25em;
    width: 8.75em;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 17.5em;
}
.ears {
    position: absolute;
    height: 4.37em;
    width: 23.75em;
    background-color: #e59076;
    transform: translateX(-50%);
    left: 50%;
    top: 18.75em;
    border-radius: 3.12em;
}