body {
    background-color: #060034;
}
.container {
    height: 46.87em;
    width: 37.5em;
    border: 1px solid whitesmoke;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.santa {
    background-color: #edbb93;
    height: 6.25em;
    width: 8.75em;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 17.5em;
}
.ears {
    position: absolute;
    height: 4.37em;
    width: 23.75em;
    background-color: #e59076;
    transform: translateX(-50%);
    left: 50%;
    top: 18.75em;
    border-radius: 3.12em;
}
.santa:before {
    content: "";
    position: absolute;
    height: 1.56em;
    width: 1.56em;
    background-color: #0c2137;
    border-radius: 50%;
    top: 2.5em;
    left: 5em;
    box-shadow: 6.25em 0 #0c2137;
}
.moustache {
    position: absolute;
    height: 4.37em;
    width: 11.25em;
    background-color: #e3e1ed;
    left: -2.81em;
    top: 5em;
    border-radius: 3.12em 0;
}
.moustache:before {
    content: "";
    position: absolute;
    height: 4.37em;
    width: 11.25em;
    background-color: #e3e1ed;
    left: 11.25em;
    border-radius: 0 3.12em;
}
.beard {
    background-color: #bfc2e0;
    height: 15.62em;
    width: 6.25em;
    border-radius: 6.87em;
    position: absolute;
    top: 21.25em;
    left: 25em;
    box-shadow: -18.75em 0 #bfc2e0;
}
.beard:before {
    content: "";
    position: absolute;
    background-color: #d4d2e8;
    height: 17.5em;
    width: 6.87em;
    border-radius: 6.87em;
    top: 1.87em;
    right: 5em;
    box-shadow: -8.75em 0 #d4d2e8;
}
.beard:after {
    content: "";
    background-color: #e3e1ed;
    height: 20.62em;
    width: 6.25em;
    border-radius: 6.87em;
    position: absolute;
    top: 3.12em;
    right: 9.68em;
}
.mouth {
    height: 5.62em;
    width: 4.37em;
    background: linear-gradient(#ffffff 1.87em, #0c2137 1.87em);
    position: absolute;
    top: 23.75em;
    left: 16.25em;
    border-radius: 0 0 4.37em 4.37em;
    overflow: hidden;
}