* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5b400;
}
.container {
    height: 31.25em;
    width: 31.25em;
    border: 1px solid whitesmoke;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.cat {
    background-color: #000000;
    height: 5em;
    width: 12.5em;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 18.75em;
    border-radius: 0 2.18em 0 0;
}
.cat:before {
    content: "";
    position: absolute;
    height: 1.87em;
    width: 1.75em;
    background-color: #000000;
    border-radius: 0 0 1.25em 1.25em;
    bottom: -1.18em;
    box-shadow: 3.75em 0 #000000, 7.18em 0 #000000, 10.75em 0 #000000;
}
.cat:after{ 
    content: "";
    position: absolute;
    height: 6.25em;
    width: 7.5em;
    background: linear-gradient(#f52d00 1.87em,
    #000000 1.87em);
    bottom: 4.93em;
}