*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: linear-gradient(#190547 60%, #6031c0 60%);
}
.container {
    width: 500px;
    height: 500px;
    border: 1px solid whitesmoke;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.diya {
    width: 300px;
    height: 150px;
    background-color: #fdcf0f;
    border-radius: 0 0 150px 150px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 50px;
}
.inside {
    width: 300px;
    height: 60px;
    background-color: #fd500a;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 170px;
}
.shadow {
    width: 320px;
    height: 60px;
    background-color: rgba(25, 5, 71, 0.5);
    position: absolute;
    bottom: 30px;
    border-radius: 50%;
    margin: auto;
    left: 0;
    right: 0;
}
.flame {
    width: 170px;
    height: 170px;
    background-color: #fdf1c2;
    border-radius: 160px 0;
    transform: rotate(-45deg);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 36px;
    animation: scale-up 2s infinite;
}
@keyframes scale-up {
    50% {
        transform: rotate(-45deg) scale(1.05);
        bottom: 42px;
    }
}
.flame:after {
    content: "";
    position: absolute;
    height: 120px;
    width: 120px;
    background-color: #f4c631;
    border-radius: 120px 0;
    bottom: 0;
}
.light {
    height: 330px;
    width: 330px;
    background-color: rgba(253, 241, 194, 0.2);
    border-radius: 50%;
    position: absolute;
    left: -15px;
    bottom: 0;
}