* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #5385c4;
}
.base {
    background-color: #012338;
    height: 16.87em;
    width: 18.75em;
    position: absolute;
    bottom: 0;
    right: 0;
}
.base:after {
    content: "";
    position: absolute;
    background-color: #093245;
    height: 0.62em;
    width: 20.62em;
    right: 0;
}
.batman {
    background-color: #093341;
    width: 6.87em;
    height: 4.37em;
    position: absolute;
    border-radius: 1.87em 0 0 0;
    left: 24.06em;
    top: 13.12em;
}
.batman:before {
    position: absolute;
    content: "";
    border-bottom: 2.5em solid #093341;
    border-left: 1.87em solid transparent;
    bottom: 4.25em;
    right: 0;
}