body {
    margin: 0;
    padding: 0;
    background-color: #ebc34c;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cat {
    background-color: #875c2d;
    height: 100px;
    width: 100px;
    border-radius: 100px 100px 80px 80px;
    position: relative;
}
.ear {
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 60px solid #875c2d;
    border-right: 45px solid transparent;
    bottom: 52px;
}
.ear-l {
    left: 0.6px;
}
.ear-r {
    transform: rotateY(180deg);
    right: 0.6px;
}