* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFFAFA;
}
.container {
    height: 50em;
    width: 30em;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    left: 50%;
    top: 50%;
}
.head {
    height: 16em;
    width: 19em;
    position: absolute;
    top: 10em;
    left: 4.5em;
    background-color: #f8f8f8;
    border-radius: 50%;
    border: 2px solid black;
}
.eyebrow-left {
    width: 6em;
    height: 5em;
    background-color: #0c0d12;
    border-radius: 50%;
    clip-path: polygon(48% 19%, 48% 24%, 33% 22%, 19% 33%, 19% 27%, 34% 16%);
    position: absolute;
    top: 5em;
    left: 2em;
}
.eyebrow-right {
    content: "";
    position: absolute;
    width: 6em;
    height: 5em;
    bottom: 5.25em;
    left: 8.5em;
    clip-path: polygon(52% 19%, 52% 24%, 67% 22%, 81% 33%, 81% 27%, 66% 16%);
    background-color: #0c0d12;
}
.eyes {
    height: 1.5em;
    width: 1.25em;
    border-radius: 50% / 70%;
    position: absolute;
    background-color: black;
    top: 7em;
    left: 3.5em;
}
.eyes:after {
    content: "";
    position: absolute;
    height: 1.5em;
    width: 1.25em;
    border-radius: 50% / 60%;
    background-color: black;
    top: 0.5em;
    left: 8em;
}
.eyes:before {
    content: "";
    position: absolute;
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
    background-color: whitesmoke;
    top: 0.25em;
    left: 0.25em;
    box-shadow: 8em 0.5em 0 0 whitesmoke;
    z-index: 1;
}
.cheeks {
    height: 2.5em;
    width: 3em;
    position: absolute;
    top: 9em;
    left: 2rem;
    border-radius: 50%;
    background-color: lightpink;
    box-shadow: 9.5em 0.5em lightpink;
    filter: blur(0.5em);
    z-index: 0;
}
.carrot {
    position: absolute;
    top: 8em;
    left: 2em;
    z-index: 2;
    width: 2em;
    height: 6em;
    transform: rotate(7deg);
}
.carrot-top {
    width: 6em;
    height: 1.5em;
    position: absolute;
    border: 1px solid #444;
    border-bottom: none;
    border-right: none;
    border-radius: 100% 10% 0 0;
    background-color: orangered;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3) inset;
}
.carrot-bottom {
    width: 6em;
    height: 1.5em;
    position: absolute;
    top: 1.25em;
    border: 1px solid #444;
    border-top: none;
    border-right: none;
    border-radius: 0 0 10% 100%;
    background-color: orangered;
    box-shadow: 0 -8px 6px rgba(0, 0, 0, 0.3) inset;
}
.carrot-bottom:before {
    content: "";
    position: absolute;
    top: -1.2em;
    left: 5.75em;
    width: 0.5em;
    height: 2.65em;
    background-color: orangered;
    overflow: hidden;
    border-radius: 100% 0 0 100%;
    border-left: 1px solid #444;
    box-shadow: 10px -10px 6px rgba(0, 0, 0, 0.2) inset;
    transform: rotate(180deg);
    z-index: -1;
}
.nose {
    position: relative;
    top:-20px;
    z-index: 2;
    width: 150px;
    height: 40px;
    transform: rotate(-10deg);
}
.nose-top {
    width: 90%;
    height: 19px;
    margin: 0 auto;
    position: relative;
    border: 1px solid #444;
    border-bottom: none;
    border-radius: 100% 20% 0 0;
    background-color: orange;
    box-shadow: 0 0px 1px rgba(0,0,0,0.3) inset
}
.nose-bottom {
    width: 90%;
    height: 19px;
    margin: 0 auto;
    position: relative;
    top:-1px;
    border: 1px solid #444;
    border-top: none;
    border-radius: 0 0 20% 100%;
    background-color: orange;
    box-shadow: -5px -5px 3px rgba(0, 0, 0, 0.3) inset;
}
.nose-bottom:before {
    content: '';
    position: absolute;
    top:-6px;
    left: -3px;
    width: 10px;
    height: 12px;
    background-color: orange;
    overflow: hidden;
    border-radius: 100% 0 0 100%;
    border-left:1px solid #444; 
    box-shadow: 2px -2px 3px rgba(0, 0, 0, 0.2) inset;
}
.nose-bottom:after {
    content: '';
    position: absolute;
    top:-17px;
    right: -7px;
    width: 15px;
    height: 34px;
    background-color: orange;
    overflow: hidden;
    border-radius: 0 100% 100% 0;
    border-right:1px solid #444; 
    box-shadow: -5px -4px 5px rgba(0, 0, 0, 0.3) inset;
}