* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aquamarine;
}
.container {
    height: 450px;
    width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 2px solid black;
}
.egg {
    height: 350px;
    width: 275px;
    position: absolute;
    top: 13%;
    left: 20%;
    background-color: aliceblue;
    border-top-left-radius: 50% 60%;
    border-top-right-radius: 50% 60%;
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
    background: repeating-linear-gradient(
        45deg,
        pink,
        yellow 20px,
        cadetblue 20px,
        lightblue 50px);
}
.ribbon {
    position: relative;
    height: 23px;
    width: 100%;
    background-color: seagreen;
    top: 49%;
    border-radius: 5px;
}
.bow-left {
    position: absolute;
    top: 9.75em;
    left: 3em;
    border-style: solid;
    border-width: 30px 0 30px 50px;
    border-color: transparent transparent transparent lemonchiffon;
    border-radius: 2.75em;
}

.bow-right {
    position: absolute;
    top: 9.75em;
    right: 2.75em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 50px 30px 0;
    border-color: transparent lemonchiffon transparent transparent;
    border-radius: 2.75em;
}
.knot {
    position: absolute;
    top: 9em;
    left: 5.75em;
    height: 5em;
    width: 6em;
    border-radius: 50%;
    background-image: radial-gradient(lemonchiffon 15%, grey);
}