* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #abe8e7;
}
.container {
    height: 450px;
    width: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.egg {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    height: 350px;
    width: 275px;
    position: absolute;
    top: 13%;
    left: 20%;
    border-top-left-radius: 50% 60%;
    border-top-right-radius: 50% 60%;
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
    background-image: 
        radial-gradient(circle at 20% 80%, #febfd0, transparent 50%),
        conic-gradient(from 45deg at 70% 30%, #fbf49a, transparent 60%),
        linear-gradient(135deg, #fbf49a, #febfd0);
    background-size: 100% 100%;
    background-blend-mode: overlay;
}
.stripe {
    width: 100%;
    height: 27%;
    border-top: solid 5px #ba92db;
    border-bottom: solid 5px #ba92db;
}
.stripe--dots {
    background-image: 
        radial-gradient(#ba92db 2px, transparent 0), 
        radial-gradient(#ba92db 4px, transparent 0);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}
.stripe--heart {
    background-image:
        linear-gradient(135deg, #ba92db 15%, transparent 0),
        linear-gradient(225deg, #ba92db 15%, transparent 0),
        radial-gradient(#ba92db 30%, transparent 0),
        radial-gradient(#ba92db 30%, transparent 0);
    background-size: 40px 40px;
    background-position: 25px 22px, 25px 22px, 0 -3px, 10px -3px;
}