* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #79311f;
}
.center {
    margin: auto;
    left: 0;
    right: 0;
}
.container {
    position: absolute;
    width: 21.87em;
    height: 25em;
    border: 1px solid whitesmoke;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}