* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #79311f;
}
.center {
    margin: auto;
    left: 0;
    right: 0;
}
.container {
    position: absolute;
    width: 21.87em;
    height: 25em;
    border: 1px solid whitesmoke;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.cowboy {
    background-color: #f4b596;
    height: 7.5em;
    width: 9.37em;
    border-radius: 0 0 1em 1em;
    position: absolute;
    top: 9.37em;
}
.ear {
    height: 1.87em;
    width: 11.87em;
    background-color: #f4b596;
    border-radius: 1em;
    position: absolute;
    top: 12.18em;
}