body {
    background-color: #c9533e;
    padding: 0;
    margin: 0;
}
.container {
    height: 530px;
    width: 350px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.window {
    width: 250px;
    height: 390px;
    background-color: #29467a;
    outline: 12px solid #2d2623;
    border-left: 5px solid #439abf;
    border-right: 5px solid #439abf;
    position: relative;
    top: 20px;
    left: 45px;
}
.window:before, .window:after {
    content: "";
    position: absolute;
    background: linear-gradient(#439abf 50%, #2d2623 50%);
}
.window:after {
    height: 15px;
    width: 260px;
    left: -5px;
    top: 200px;
}
.window:before {
    height: 15px;
    width: 310px;
    left: -30px;
    bottom: -15px;
}
.mountain-1 {
    height: 0;
    width: 0;
    border-bottom: 60px solid #22366d;
    border-right: 20px solid transparent;
    position: absolute;
    bottom: 0;
}
.mountain-1:before, .mountain-1:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 60px solid #22366d;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}
.mountain-1:before {
    bottom: -60px;
    left: 5px;
}
.mountain-1:after {
    bottom: -60px;
    left: 35px;
}