body {
    margin: 0;
    padding: 0;
    background-color: #ffcc33;
}
.wrapper {
    background-color: #ffffff;
    height: 300px;
    width: 300px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 15px 45px rgba(95, 71, 0, 0.35);
    z-index: -2;
}
.magikarp {
    background-color: #e50027;
    height: 130px;
    width: 80px;
    border-radius: 80px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 10px solid #c1001f;
}
.fin-top {
    background-color: #ffcc33;
    height: 50px;
    width: 17px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -50px;
    z-index: -1;
    border-radius: 17px;
}
.fin-top:before, .fin-top:after {
    content: "";
    position: absolute;
    background-color: #ffcc33;
    height: 50px;
    width: 17px;
    top: 5px;
    transform-origin: bottom;
    border-radius: 17px;
}
.fin-top:before {
    transform: rotate(30deg);
}
.fin-top:after {
    transform: rotate(-30deg);
}
.fin-bottom {
    background-color: #ffcc33;
    height: 50px;
    width: 17px;
    border-radius: 17px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 130px;
    z-index: -1;
    transform: rotate(180deg);
}
.fin-bottom:before, .fin-bottom:after {
    content: "";
    position: absolute;
    background-color: #ffcc33;
    height: 50px;
    width: 17px;
    top: 5px;
    transform-origin: bottom;
    border-radius: 17px;
}
.fin-bottom:before {
    transform: rotate(30deg);
}
.fin-bottom:after {
    transform: rotate(-30deg);
}