* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}
.sky {
    border: 5px solid black;
    height: 47%;
    width: 100vw;
    background-color: skyblue;
}
.field {
    border: 5px solid black;
    height: 53%;
    width: 100vw;
    background-color: green;
}
.flower {
    border: 5px solid greenyellow;
    position: relative;
    height: 88px;
    width: 10px;
    top: 150px;
    left: 250px;
}
.outer_petals {
    position: absolute;
    background-color: blueviolet;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid blueviolet;
    top: -80px;
    left: -42px;
}
.outer_petals:before {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 45%;
    top: -75px;
    left: 25px;
    box-shadow: 0 149px blueviolet, 
        50px 100px blueviolet, 
        -50px 100px blueviolet,
        -25px 56px blueviolet,
        25px 56px blueviolet,
        -44px 75px blueviolet,
        44px 75px blueviolet,
        -26px 144px blueviolet,
        26px 144px blueviolet,
        -45px 125px blueviolet,
        45px 125px blueviolet,
        0 50px blueviolet;
}
.inner_petals {
    position: relative;
    background-color: coral;
    height: 45px;
    width: 45px;
    border-radius: 45% 45%;
    top: 14px;
    left: 15px;
}