body {
    padding: 0;
    margin: 0;
    background-color: #723457;
}
.container {
    position: absolute;
    border: 1px solid whitesmoke;
    width: 330px;
    height: 480px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.witch {
    position: absolute;
    top: 100px;
    left: 110px;
}
.hair {
    height: 0;
    width: 80px;
    border-bottom: 80px solid #ff7903;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
.hat {
    background-color: #0b081b;
    width: 160px;
    height: 25px;
    border-radius: 50%;
    position: relative;
}
.hat:before {
    content: "";
    position: relative;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #0b081b;
    bottom: 95px;
    left: 28px;
}
.hat:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 40px solid #0b081b;
    position: absolute;
    right: 45px;
    bottom: 83px;
    transform: rotate(20deg);
}
.face {
    background-color: #ffcb9b;
    height: 60px;
    width: 80px;
    border-radius: 0 0 40px 40px;
    z-index: 1;
    position: relative;
}
.eye {
    background-color: #6155bd;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    position: relative;
    top: 18px;
    left: 15.2px;
    box-shadow: 0 -3px 0 5px #1f1a43,
        37px 0 0 0 #6155bd,
        37px -3px 0 5px #1f1a43;
}
.mouth {
    height: 2px;
    width: 40px;
    background-color: #000000;
    position: relative;
    left: 20px;
    top: 30px;
}