* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f6bd26;
}
.container {
    height: 37.5em;
    width: 31.25em;
    border: 1px solid whitesmoke;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.container:before {
    position: absolute;
    content: "";
    background-color: #fad168;
    height: 30em;
    width: 30em;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 50%;
    top: 5.31em;
    z-index: -1;
}
.container:after {
    position: absolute;
    content: "";
    background-color: #f6bd26;
    height: 5.62em;
    width: 100%;
    top: 30.5em;
}
.cup {
    height: 15.62em;
    width: 11.87em;
    background: linear-gradient(
        to top,
        #8c5b33 30%,
        #b5a581 30%,
        #b58581 80%,
        #8c5b33 80%
    );
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 15.62em;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
    overflow: hidden;
}
.cup:after {
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255, 0.1);
    height: 17.5em;
    width: 6.25em;
}