*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff29e;
}
.container {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.face {
    background-color: #8ebc00;
    height: 120px;
    width: 160px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 100px;
}
.face:before {
    content: "";
    position: absolute;
    height: 60px;
    width: 120px;
    background-color: #c1d218;
    border-radius: 0 0 60px 60px;
    bottom: 0;
    left: 20px;
}
.face:after {
    content: "";
    position: absolute;
    width: 140px;
    height: 8px;
    background-color: #477a26;
    border-radius: 5px;
    left: 10px;
    top: 55px;
}
.eyes, .eyes:before {
    position: absolute;
    background-color: #234106;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ffffff, 0 0 0 18px #8ebc00;
}
.eyes {
    left: 35px;
}
.eyes:before {
    content: "";
    left: 66px;
}
.body {
    background-color: #c1d218;
    height: 60px;
    width: 70px;
    border-radius: 70px 70px 0 0;
    box-shadow: 0 -20px 0 20px #8ebc00;
    position: absolute;
    left: 165px;
    top: 230px;
}